@model la_mia_pizzeria_razor_layout.Models.Pizza

@{
    ViewData["Title"] = "Dettagli Pizza";
}

<div class="container">
    <h1 class="text-center">@Model.Name</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img src="@Url.Content(Model.Photo)" class="card-img-top" alt="@Model.Name">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">Description: @Model.Description</p>
                    <p class="card-text">Price: € @Model.Price</p>
                </div>
            </div>
        </div>
    </div>
</div>

